/* section:first-of-type > * {
    float: left;
    fixed: width; */
  /* section:first-of-type {
    position: relative;
    overflow: hidden; */
  /* } */
  
  body {
    background-color: rgb(163, 90, 231);
  }
  /* section:nth-of-type(2){
    height: 200px;
    width: 50%;
    text-align: center;
    margin: 30px auto; */
  /* } */
  img {
    width: 375px;
    height: 250px;
  }

   .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  * {
    box-sizing: border-box;
  }

  td {
      padding: 10px;
  }
  
  /* section:first-of-type {
    position: relative;
    overflow: hidden;
  }
  section:first-of-type :first-child {
    margin-right: 70px; */
  /* } */
  
  /* section:first-of-type > * {
    float: left;
  } */
  
  /* section:first-of-type > p {
    font-size: 20px;
    margin: 0 30px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%); */
  }
  h1 {
    width: 300px;
    margin: 30px auto;
    font-size: 24px;
  }

  #left-text {
    background-color: yellow;
    text-align: center;
    font-size: 30px;
  }
  #middle-text {
    background-color: rgb(6, 176, 233);
    text-align: center;
    font-size: 30px;
  }
  #right-text {
    background-color: red;
    text-align: center;
    font-size: 30px;
  }
 body h1{
   color: rgb(12, 12, 236);
   font-size: 40px;
   font-style: oblique;
   padding-bottom: 20px;
   border: yellow;
   border-style: solid;
   margin-left: 100px;
   margin-right: 950px;
   position: relative;
   right: -400px;
 }
section h2{
  color: red;
  text-align: center;
  font-size: 60px;
}